<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spotmusic</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Spotmusic</h1>
            </div>

            <h4>Nova música</h4>

            <form th:action="@{/playlists/{playlistId}/musicas/salvar(playlistId=${playlistId})}"
                  th:method="${musica.id} == 0 ? post : put" th:object="${musica}">
                <div class="row">
                    <input id="id" type="hidden" th:field="*{id}" />
                    <div class="form-group col-md-4">
                        <label for="titulo">Titulo:</label>
                        <input class="form-control" id="titulo" type="text" th:field="*{titulo}"
                               th:class="${#fields.hasErrors('titulo')}? fieldError" />
                        <div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="banda">Banda:</label>
                        <input class="form-control" id="banda" type="text" th:field="*{banda}"
                               th:class="${#fields.hasErrors('banda')}? fieldError" />
                        <div th:if="${#fields.hasErrors('banda')}" th:errors="*{banda}"></div>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="nota">Nota:</label>
                        <input class="form-control" id="nota" type="text" th:field="*{nota}" th:class="${#fields.hasErrors('nota')}? fieldError" />
                        <div th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </form>

            <hr />

            <a class="btn btn-light" th:href="@{/playlists/{playlistId}/musicas/listar(playlistId=${playListId})}">Voltar</a>

            <hr />

            <footer class="footer">
                <p>&copy; 2020 BenMedia</p>
            </footer>

        </div>
    </body>
</html>